body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --back: #222222;
    --primary: #303030;
}

.main-header{
    background: var(--primary);
    height: 60px;
    
}
.main-header p{
    margin-bottom: 0;
}
.nav-container{
    width: 100%;
}
.main-header .nav-down{
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.main-header .user-img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: var(--back);
}

.main-header img{
    object-fit: contain !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px;
}
#tasks-show{
    margin-top: 100px;
}

.card-tasks{
    padding: 5px !important;
}
.card-tasks p{
    font-weight: 400;
    font-size: 15px;
}
.card-tasks h3{
    font-weight: 500;
    font-size: 16px;
}
.new-tasks{
    width: 60%;
    
}

.new-tasks .card{
    border-radius: 8px;
}
.new-tasks .card-body{
    background: var(--back) !important;
    border-radius: 8px;
    border: 1px solid #646464 ;
}

.new-tasks input{
    background: var(--back);
    color: #fafafa;
}
.new-tasks textarea{
    background: var(--back);
    overflow-y: hidden;
    color: #fafafa;
    
}

.new-tasks input:focus{
    outline: transparent !important;
    background: var(--back);
    border-color: var(--back) !important;
    box-shadow: 0 0 0px !important;
    color: #fafafa;

}

.new-tasks textarea:focus{
    outline: transparent !important;
    background: var(--back);
    border-color: var(--back) !important;
    box-shadow: 0 0 0px !important;
    color: #fafafa;

}

textarea{  
    overflow:hidden;
    display:block;
}

.new-tasks__save:hover{
    background: var(--primary);
}

.btn-edit{
    font-size: 14px;
    padding: 5px 7px 5px 8px;
}
.btn-edit:hover{
    background: #404040;
}
.btn-delete{
    font-size: 14px;
    padding: 5px 7px 5px 8px;
}
.btn-delete:hover{
    background: #e44444;
}

/* dropdown */
.dropdown-content {
    padding: 15px;
    border-radius: 8px;
    margin-top: 130px;
    display: none;
    position: absolute;
    background-color: var(--primary);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #fafafa;
  }
  
  .nav-down:hover .dropdown-content {display: block;}
  
  .dropdown-content button {
    margin-left: 20%;
    margin-top: 15px;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  


/* auth */

body{
    background: #222222 !important;
    font-family: 'Roboto', sans-serif !important;
}

.login-main{
    padding: 50px;
    margin: 50px 0 50px 0;
}
.login-card{
    width: 50%;
    background: #303030;
    border-radius: 8px;
    padding: 50px 70px 50px 70px;
}
.card-tit h2{
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
}
.form-control{
    border: none;
    border-radius: 0;
}
.login-card input{
    background: #303030;
    border-bottom: 1px solid #808080;
    color: #0e0e0e;
    font-size: 14px;
    
}
.login-card input:focus{
    outline: transparent !important;
    background: #303030;
    transition: all .5s;
    border-bottom: 1px solid #fafafa ;
    box-shadow: 0 0 0px !important;
    color: #0e0e0e;
}
.forgot a{
    color: #dddddd;
    font-size: 14px;
}
.forgot a:hover{
    color: #fafafa;
}

.google{
    display: flex;
    justify-content: center !important;
}
.google button{
    background: #4285f4;
    border-radius: 8px;
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    margin: 40px 0 40px 0;
}
.google button:hover{
    background:  #2c79f5;
    border-color: #4285f4;
    color: #fafafa;
    
}
.register{
    display: flex;
    justify-content: center !important;
    color:  #dddddd;
    font-size: 14px;
}
.register a{
    color: #fafafa !important;
    font-weight: 500;
}
.register p{
    margin-bottom: 5px;
}
.register a:hover{
    color: #fafafa !important;
    font-weight: 500;
}
.btn-login{
    display: flex;
    justify-content: center !important;
    
}
.btn-login button{
    background: #fafafa;
    border-radius: 8px;
    color: #0e0e0e;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    width: 100%;
}
.btn-login button:hover{
    background:  #dddddd;
    color: #0e0e0e;
}
.register-modal .modal-title{
    font-weight: 700;
    font-size: 24px;
}

.register-modal input{
    background: #303030;
    border-bottom: 1px solid #808080;
    color: #0e0e0e;
    font-size: 14px;
    
}
.register-modal input:focus{
    outline: transparent !important;
    background: #303030;
    transition: all .5s;
    border-bottom: 1px solid #fafafa ;
    box-shadow: 0 0 0px !important;
    color: #0e0e0e;
}

@media (max-width: 800px){
    .new-tasks{
        width: 100%;
        
    }
}

@media (max-width: 850px){
    .login-card{
        width: 60%;
        padding: 40px 60px 40px 60px;
    }
}

@media (max-width: 770px){
    .login-card{
        width: 100% !important;
    }
}
@media (max-width: 450px){
    .login-card{
        padding: 30px 50px 30px 50px;
    }
    .login-main{
        padding: 30px 10px;
    }

    .btn-login button{
        font-size: 12px;
    }
    .register{
        font-size: 12px;
    }
    .google button{
        font-size: 12px;
    }
    .forgot a{
        font-size: 12px;
    }
    .card-tit h2{
        font-size: 22px;

    }
    .login-card input{
        font-size: 12px;
    }
    
}